<div class="container small">
  <table class="table">
    <thead>
      <tr>
        <th>Peak</th>
        <th>Rank</th>
        <th>Range</th>
        <th>Elevation</th>
        <% if current_user %>
          <th>My Climbs</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @peaks.each do |peak| %>
        <tr>
          <td>
            <%= link_to peak["attributes"]["peak_name"], peaks_show_path(peak["id"]) %>
          </td>
          <% if peak["attributes"]["rank"] == '0' %>
            <td>Unranked</td>
          <% else %>
            <td>
              <%= peak["attributes"]["rank"] %>
            </td>
          <% end %>
          <td>
            <%= link_to peak["attributes"]["range"], ranges_show_path(peak["attributes"]["range"]) %>
          </td>
          <td>
            <%= number_with_delimiter(peak["attributes"]["elevation"], :delimiter => ',') + ' ft' %>
          </td>
          <% if current_user %>
            <% if current_user.climbs.exists?(:peak_id => peak["id"]) %>
              <td class="badge-icon"><%= image_tag("badge.png") %></td>
            <% else %>
              <td>
                <%= form_for Climb.new do |f| %>
                  <%= f.hidden_field :peak_id, :value => peak["id"] %>
                  <%= f.hidden_field :peak_name, :value => peak["attributes"]["peak_name"] %>
                  <%= f.hidden_field :rank, :value => peak["attributes"]["rank"] %>
                  <%= f.hidden_field :elevation, :value => peak["attributes"]["elevation"] %>
                  <%= f.hidden_field :notes, :value => '' %>
                  <%= f.submit "Add", class: "btn btn-info" %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>